html,body {
  height:100%;
  background-color: #5CDB95;
}

#profilpic {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  border: solid 6px;
  border-color:#5CDB95;
}

#container-image{
  padding-top: 100px;
}
